*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

.arrow{
    font-size: 450%;
    font-weight: 900;
    cursor:pointer;
}

button{
    font-size: 150%;
    font-weight: 600;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#rarrow{
    font-size:400%;
}

.arrow:active{
    background-color:#60627a ;
}

.slides{
    display:none;
}

.slides p{
    font-size: 25px;
}

.slides h1{
    font-size: 35px;
    font-weight:bold;
}
button {
    border-radius: 18px;
    height: 75px;
}

footer {
    text-align:center;
    
    left: 0;
    bottom: 0;
    margin-top: 40%;
    height: 50px;
    width: 100%;
}

.loginalert{
    color:red;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  margin: 0 auto;
  margin-right:auto;
  max-width: 600px;
  text-align:center;
  width: 100%;
  background-color: #18192B;
  color: #9FD4FB;
}

/* Header Styles */

header {
  padding: 20px;
  padding-bottom: 0px;
}

header h1 {
  font: bold 30px arial, sans-serif;
  margin: 0 auto;
  text-align: center;
}

header img {
  margin: 0 auto;
  max-width: 150px;
  width: 100%;
}
header p {
  text-align: center;
}

header h2 {
  color: rgba(0, 0, 0, 0.5);
  font: 18px arial, sans-serif;
  margin: 0 auto;
  max-width: 250px;
  text-align: center;
}

/* Form and Fieldset Styles */
#form {
    margin: 0 auto;
}

/* Primary Inputs */

#form section.primary-inputs {
  padding: 20px;
}

#form .field {
  margin: 0 auto;
  max-width: 600px;
  padding: 10px 0;
  width: 100%;
}

#form input, #form label {
  display: block;
  width: 100%;
}

#form .radio-group input, #form .radio-group label {
  display: inline;
  width: auto;
}

#form label {
    color: #C3E2F9;
  font: bold 17px arial, sans-serif;
  letter-spacing: 1px;
  margin-bottom: 3px;
}

#form input {
    background-color: #C3E2F9;
    border: none;
    box-sizing: border-box;
    font: bold 20px arial, sans-serif;
    padding: 3px;
}

#form input[type="text"],
#form input[type="password"] {
  border: solid 5px transparent;
  color: #969696;
  transition: border 0.3s;
}
#form input[type="text"]:focus,
#form input[type="password"]:focus {
  border: solid 5px rgba(0, 0, 0, 0.1);
  color: black;
  outline: none;
}


#password:focus {
    border: solid 5px rgba(0, 0, 0, 0.1);
    border-right: solid 5px transparent;
    color: black;
    outline: none;
}


/* Secondary inputs, static-config-inputs, proxy-config-inputs */

#form section.static-config-inputs {
  background-color: #4F6CAC;
  padding: 0px 20px;
}

#form section.proxy-config-inputs {
  background-color: #2B3E68;
  padding: 0px 20px;
}

#form section.secondary-inputs input {
  background-color: rgba(255 , 255, 255, 0.3);
}

#form section.secondary-inputs label {
  color: rgba(255 , 255, 255, 0.6);
}

#form section.secondary-inputs input[type="text"]:focus,
#form section.secondary-inputs input[type="password"]:focus {
  border: solid 5px rgba(255, 255, 255, 0.3);
  color: white;
}

#form section.secondary-inputs input[type="text"],
#form section.secondary-inputs input[type="password"] {
  color: rgba(255, 255, 255, 0.5);
}

#accordion-static-config, #accordion-proxy-config {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: transparent none;
  border: none;
  color: rgba(255, 255, 255, 0.6);
}

.ui-accordion .ui-accordion-header {
  padding: .8em .5em .8em 2.2em;
  font: bold 20px arial, sans-serif;
}

.ui-state-focus {
  outline: none;
}

#accordion-static-config .ui-widget-content, #accordion-proxy-config .ui-widget-content {
  background: transparent none;
  border: none;
}

.ui-accordion .ui-accordion-content {
  padding: 15px 10px;
}

.closed-icon
{
  background-image: url("../images/triangleRight.svg") !important;
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

.open-icon
{
  background-image: url("../images/triangleDown.svg") !important;
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

/* submission-inputs */
#form .submission-inputs {
}
/* Lightbox */

.lightbox {
  display: none;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  background-color: white;
  color: dimgray;
}

.lightbox h1{
    color: #9FD4FB;
}

@media (max-width: 100%) {
  .lightbox {
    width: 100%;
    max-width: 100%;
  }
}


.featherlight {
    cursor: default;
    vertical-align: middle;
    max-width:100%;
    min-width:100%;
    max-height:100%;
    width:auto;
}

.canvas {
  border: 10px solid #4F6CAC;
  display: block;
  max-height: 600px;
  margin: 0;
  width: 100%;
}

#BU-progress {
  display: block;
  margin: 10px auto;
  width: 100%;
  height:15px;
  background-color: #4F6CAC;
  transform: scale(0, 1);
  -webkit-transform: scale(0, 1);
  -moz-transform: scale(0, 1);
  -o-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
}

.lightbox h3 {
  display: block;
  font: bold 15px arial, sans-serif;
  margin: 20px 0 15px 0;
  position: relative;
  text-align: center;
  width: 100%;
  min-height: 35px;
}

#lightbox-close {
  cursor: pointer;
  display: inline-block;
  font-size: 24px;
  height:35px;
  margin: 0;
  position: absolute;
  right: 5px;
  text-align: center;
  text-decoration: none;
  top: 0px;
  vertical-align: middle;
  width: 35px;
  z-index: 999;
}

#countdown p {
  color: #4F6CAC;
  font-size: 100px;
  top: 10px;
  position: relative;
  text-align: center;
  width: 100%;
}

#imp-credit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 90%;
  min-height: 62px;
  min-width:100%;
  padding-top: 20px;
}

a.agentURL p:first-of-type {
  margin: 0px;
  color: grey;
}

a.agentURL p:nth-child(2) {
  margin-bottom: 0 0 15px 0;
}

#progress-img {
  margin-bottom: 20px;
}

#result {
  display: block;
  margin-bottom: 20px;
}

#result.success {
  color: green;
}

#result.failure {
  color: red;
}

/* General */

.hidden {
  display: none;
}

.clear {
  clear: both;
}

ul {
  box-sizing: border-box;
  margin: 30px auto;
  max-width: 600px;
  width: 100%;
}

ul li {
  color: rgba(0, 0, 0, 0.5);
  font: bold 20px arial, sans-serif;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 600px !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}